<div class="container text-center">
  <div class="row">
    <div class="col">
      <img class="w-100" src="./img/express-icon.png">
      </img>
      <p class="lead">
        Fast, unopinionated, minimalist web framework for Node.js
      </p>
    </div>
  </div>
</div>