<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="mb-3">Daftar Kontak</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nama</th>
              <th scope="col">Telepon</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>JatiBS</td>
              <td>081229439547</td>
              <td>
                <a href="#" class="badge text-bg-primary text-decoration-none"><i class="bi bi-info-circle"></i>  Detail</a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>