<div class="container p-5 text-center mt-5">
  <div class="p-5 bg-white rounded-3 shadow">
    <h1 class="display-4 fw-bold">Tentang Contact Manager</h1>
    <hr class="my-4">
    <p class="lead">
      Contact Manager adalah aplikasi sederhana dan efisien yang dirancang untuk membantu Anda mengatur dan mengelola
      kontak penting Anda dengan mudah. Baik untuk penggunaan pribadi atau bisnis, platform kami menyediakan cara yang
      cepat dan terorganisir untuk menyimpan informasi kontak Anda.
    </p>
    <p class="lead">
      Dengan Contact Manager, Anda dapat melakukan operasi dasar seperti <strong>Membuat</strong> kontak baru,
      <strong>Memperbarui</strong> detail yang sudah ada, dan <strong>Menghapus</strong> kontak yang tidak lagi Anda
      butuhkan. Antarmuka yang intuitif memastikan Anda dapat mengelola daftar kontak Anda dengan lancar, kapan saja, di
      mana saja.
    </p>
    <a class="btn btn-primary btn-lg mt-3" href="/contact" role="button">Mulai Kelola Kontak Anda</a>
  </div>
</div>