<br><br><br>

<div class="jumbotron p-1 mb-2 text-center m-auto">
  <h1 class="display-4">Contact Manager</h1>
  <p class="lead">Help you to manage your Contact</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Get Started</a>
</div>

<div class="container mt-5 p-1 text-center">
  <div class="row">
    <div class="col-md-4">
      <h2>Create Contact</h2>
    </div>
    <div class="col-md-4 bg-opacity-75">
      <h2>Update Contact</h2>
    </div>
    <div class="col-md-4">
      <h2>Delete Contact</h2>
    </div>
  </div>
</div>

<footer class="bg-light text-center py-3">
  <p>&copy; 2024 JBS. All rights reserved.</p>
</footer>


