<div class="d-flex justify-content-around ">
  <a href="/dashboard" class="btn btn-primary m-1 btn-sm col-lg-2">
    Dashboard
    <span class="badge bg-primary"></span>
  </a>
  <a href="/contacts?sort=default&page=0" class="btn btn-primary m-1 btn-sm col-lg-2">
    View All Contacts
    <span class="badge bg-primary"></span>
  </a>
  <a href="/contact/add" class="btn btn-primary m-1 btn-sm col-lg-2">
    Add New Contact
    <span class="badge bg-primary"></span>
  </a>
  <a href="/search" class="btn btn-primary m-1 btn-sm col-lg-2">
    Search Contact
    <span class="badge bg-primary"></span>
  </a>
  <a href="/settings" class="btn btn-primary m-1 btn-sm col-lg-2">
    Settings
    <span class="badge bg-primary"></span>
  </a>
</div>
