

<div class="container-md">
  <div class="d-flex flex-column justify-content-center align-items-center text-center gap-3" style="min-height:80vh ;">
    <h1 class="ft-bold fs-1 text-uppercase">
      To Many Request!
      <p class="fw-normal fs-6 text-black text-center">Please wait for a few seconds!</p>
    </h1>
  </div>
</div>