<!-- <div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
      Add Contact
    </h1>
    <p class="lead text-muted m-1">
      Store your contact information dinamically and flexibelly
    </p>


    <hr>



    <div class="card">
      <div class="card-body p-3 p-lg-3 m-4 mt-2">

        <div class="row rounded-0">
          <label for="colFormLabelLg" class="fw-bold col-sm-2 col-form-label col-form-label-lg text-uppercase">Contact
            Name</label>
          <div class="col-sm-10">
            <input required type="text" name="name" id="name" class="form-control form-control-lg rounded-0"
              id="colFormLabelLg" placeholder="Contact Name">
          </div>
        </div>

        <hr>
        <ul class="list-group list-group-flush" id="field-parent">

          <li class="list-group-item text-uppercase" style="border: unset;">
            <h4>Dynamic Field</h4>
          </li>




          <li class="list-group-item border-bottom border-top p-3" fieldchild="0" style="border-bottom: unset;">
            <div class="row g-3">
              <div class="col">
                <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Field Name"
                  aria-label="Field Name" name="field-0">
              </div>
              <div class="col">
                <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Value"
                  aria-label="Value" name="value-0">
              </div>
            </div>
          </li>





          <li class="list-group-item not-">
            <button id="add-field-btn" class="btn btn-primary btn-sm bg-primary">Add New Field +</button>
          </li>

          <script>
            document.getElementById('add-field-btn').addEventListener('click', newField);

            function newField() {
              const fieldchilds = document.getElementById('field-parent')
                .querySelectorAll('li[fieldchild]');
              const lastfieldchilds = fieldchilds[fieldchilds.length - 1];
              const length = fieldchilds.length;
              const fieldchild = document.createElement('li');
              fieldchild.style.border = 'unset';
              "list-group-item border-bottom border-top p-3 li-field".split(" ").forEach(c => {
                fieldchild.classList.add(c);
              });
              fieldchild.setAttribute('fieldchild', length)
              fieldchild.innerHTML = `
              <div class="row g-3">
                <div class="col">
                  <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Field Name"
                    aria-label="Field Name" name="field-${length}">
                </div>
                <div class="col">
                  <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Value"
                    aria-label="Value" name="value-${length}">
                </div>
              </div>
                `;
              lastfieldchilds.after(fieldchild);
              console.log(1);
              console.log(lastfieldchilds);
              console.log(fieldchild);

            }
          </script>

        </ul>


      </div>
    </div>






  </div> -->


<div class="container-lg p-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="h3 h-md-1 fw-bold text-primary">Add Contact</h1>
    <p class="lead text-muted m-1">
      Store your contact information dynamically and flexibly
    </p>
    <hr>

    <form class="card" method="post">
      <div class="card-body p-3 m-2 m-lg-4">

        <!-- Contact Name -->
        <div class="row mb-3">
          <label for="name" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Contact Name</label>
          <div class="col-12 col-md-10">
            <input required type="text" name="name" id="name" class="form-control rounded-0 fw-bold text-uppercase"
              placeholder="Contact Name">
          </div>
        </div>

        <hr>

        <!-- Dynamic Fields -->
        <ul class="list-group list-group-flush" id="field-parent">
          <li class="list-group-item text-uppercase border-0">
            <h5>Dynamic Field</h5>
          </li>

          <li class="list-group-item border-bottom border-top p-3" fieldchild="0">
            <div class="row g-3">
              <div class="col-12 col-md-6">
                <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Field Name"
                  aria-label="Field Name" name="field-0">
              </div>
              <div class="col-12 col-md-6">
                <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Value"
                  aria-label="Value" name="value-0">
              </div>
            </div>
          </li>

          <li class="list-group-item">
            <button id="add-field-btn" class="btn btn-primary btn-sm" type="button">Add New Field +</button>
            <button class="btn btn-dark btn-sm" type="submit">Save Contact</button>
          </li>

          <script>
            document.getElementById('add-field-btn').addEventListener('click', newField);

            function newField() {
              const fieldchilds = document.getElementById('field-parent').querySelectorAll('li[fieldchild]');
              const lastfieldchilds = fieldchilds[fieldchilds.length - 1];
              const length = fieldchilds.length;
              const fieldchild = document.createElement('li');
              fieldchild.className = "list-group-item border-bottom border-top p-3";
              fieldchild.setAttribute('fieldchild', length);
              fieldchild.innerHTML = `
                  <div class="row g-3">
                    <div class="col-12 col-md-6">
                      <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Field Name"
                        aria-label="Field Name" name="field-${length}">
                    </div>
                    <div class="col-12 col-md-6">
                      <input type="text" class="form-control rounded-0 fw-bold text-uppercase" placeholder="Value"
                        aria-label="Value" name="value-${length}">
                    </div>
                  </div>
                `;
              lastfieldchilds.after(fieldchild);
            }
          </script>
        </ul>
      </div>

    </form>

  </div>
</div>