<div class="container-md">
<div class="row justify-content-center">
    <div class="col-4 w-100 mt-5">
      <h1 class="text-center ft-bold">
        INTERNAL SERVER ERROR
      </h1>
      <p class="text-center">
        <%= error %>
      </p>
    </div>
  </div>
</div>
