<div class="container d-flex flex-column justify-content-center align-items-center text-center gap-1" style="min-height:80vh ;">
  <h1 class="text-dark fs-1 fw-bold">CONTACT MANAGER</h1>

  <p class="fs-6 mx-auto fw-bold" style="max-width: 600px;">
    Need to dynamically store your contact information? Names, email addresses,
    phone numbers, and other information? You need a contact manager that's fast,
    easy, neat, and of course, secure!
  </p>

  <div class="d-flex gap-0 flex-column">
    <button onclick="location.href='/dashboard'" type="button" class=" btn btn-outline-primary">
      MANAGE MY CONTACT
    </button>
    <p class="m-1 fs-6">Get started to manage your contacts!</p>
  </div>
</div>