<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
     Change Password Account
    </h1>
    <p class="lead text-muted m-1">
      Edit Your password account
    </p>
    <hr>
    <%- include('./partials/nav-signedin.ejs') %>
      <hr>